<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<welcome-file-list>
		<welcome-file>Index.jsp</welcome-file>
	</welcome-file-list>




	<context-param>
		<param-name>storageaddress</param-name>
		<param-value>/var/lib/tomcat7/webapps</param-value>
	</context-param>

	<servlet>
		<servlet-name>Uploadandfilter</servlet-name>
		<servlet-class>UploadandfilterServlet</servlet-class>

		<init-param>
			<param-name>filepath</param-name>
			<param-value>/var/lib/tomcat7/webapps</param-value>
		</init-param>
		<init-param>
			<param-name>temppath</param-name>
			<param-value>/var/lib/tomcat7/webapps</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>Uploadandfilter</servlet-name>
		<url-pattern>/uploadandfilter</url-pattern>
	</servlet-mapping>




	<servlet>
		<servlet-name>Upload</servlet-name>
		<servlet-class>UploadServlet</servlet-class>
		<init-param>
			<param-name>filepath</param-name>
			<param-value>/var/lib/tomcat7/webapps</param-value>
		</init-param>
		<init-param>
			<param-name>temppath</param-name>
			<param-value>/var/lib/tomcat7/webapps</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>Upload</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>



<servlet>
		<servlet-name>FilterServlet</servlet-name>
		<servlet-class>FilterServlet</servlet-class>

		<init-param>
			<param-name>fileRoot</param-name>
			<param-value>/var/lib/tomcat7/webapps/</param-value>
		</init-param>
		<init-param>
			<param-name>contentType</param-name>
			<param-value>application/x-msdownload</param-value>
		</init-param>
		<init-param>
			<param-name>enc</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>FilterServlet</servlet-name>
		<url-pattern>/FilterServlet</url-pattern>
	</servlet-mapping>
















	<servlet>
		<servlet-name>Loadservlet</servlet-name>
		<servlet-class>LoadServlet</servlet-class>

		<init-param>
			<param-name>fileRoot</param-name>
			<param-value>/var/lib/tomcat7/webapps/</param-value>
		</init-param>
		<init-param>
			<param-name>contentType</param-name>
			<param-value>application/x-msdownload</param-value>
		</init-param>
		<init-param>
			<param-name>enc</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>Loadservlet</servlet-name>
		<url-pattern>/LoadServlet</url-pattern>
	</servlet-mapping>







	<servlet>
		<servlet-name>DeleteServlet</servlet-name>
		<servlet-class>DeleteServlet</servlet-class>

		<init-param>
			<param-name>fileRoot</param-name>
			<param-value>/var/lib/tomcat7/webapps/</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>DeleteServlet</servlet-name>
		<url-pattern>/DeleteServlet</url-pattern>
	</servlet-mapping>





	<servlet>
		<servlet-name>OpieServlet</servlet-name>
		<servlet-class>OpieServlet</servlet-class>
		<init-param>
			<param-name>fileRoot</param-name>
			<param-value>/var/lib/tomcat7/webapps/</param-value>
		</init-param>
		<init-param>
			<param-name>jaddress</param-name>
			<param-value>/var/lib/tomcat7/webapps/</param-value>
		</init-param>
		<init-param>
			<param-name>systemenv</param-name>
			<param-value>linux</param-value>
		</init-param>
		<init-param>
			<param-name>linuxparam</param-name>
			<param-value>sh</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>OpieServlet</servlet-name>
		<url-pattern>/OpieServlet</url-pattern>
	</servlet-mapping>









	<servlet>
		<servlet-name>downloadservlet</servlet-name>
		<servlet-class>DownloadServlet</servlet-class>
		<init-param>
			<param-name>fileRoot</param-name>
			<param-value>/var/lib/tomcat7/webapps/</param-value>
		</init-param>
		<init-param>
			<param-name>contentType</param-name>
			<param-value>application/octet-stream</param-value>
		</init-param>
		<init-param>
			<param-name>enc</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>downloadservlet</servlet-name>
		<url-pattern>/downurl</url-pattern>
	</servlet-mapping>

</web-app>	
