---
title: DDMAL
---

<div class="welcome">
  <h1>Congratulations!</h1>
  <p>
    You've been chosen to design a website for the DDMAL, likely for Cantus Ultimus, HHP, or Diva.JS. There should be instructions for installation in the README.md file included with the git repo, but other than that take a look at the documentation on http://middlemanapp.com/ and bug Horwitz with any questions that come up. <br><br>

    One small note: we're planning on using Bootswatch themes for these sites, so take a look at http://bootswatch.com/ for inspiration and stick to the default Bootstrap classes where possible. This site comes with Cerulean to start.
  </p><!-- .doc -->
</div><!-- .welcome -->